<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BinanceFuturesViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BinanceFuturesViewer.Properties.Settings>
            <setting name="FuturesRestBaseUrl" serializeAs="String">
                <value>https://fapi.binance.com</value>
            </setting>
            <setting name="FuturesWebSocketBaseUrl" serializeAs="String">
                <value>wss://fstream.binance.com/market/ws</value>
            </setting>
            <setting name="ExchangeInfoEndpoint" serializeAs="String">
                <value>/fapi/v1/exchangeInfo</value>
            </setting>
            <setting name="KlinesEndpoint" serializeAs="String">
                <value>/fapi/v1/klines</value>
            </setting>
            <setting name="DefaultSymbol" serializeAs="String">
                <value>BTCUSDT</value>
            </setting>
            <setting name="DefaultInterval" serializeAs="String">
                <value>1h</value>
            </setting>
            <setting name="DefaultCandlesLimit" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="DefaultComparisonWindow" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultDistanceThreshold" serializeAs="String">
                <value>0.1</value>
            </setting>
        </BinanceFuturesViewer.Properties.Settings>
    </userSettings>
</configuration>